discord_webhook
requests
colorama
plyer
discord.py
selenium
beautifulsoup4
Pillow
PyAutoGUI
pyperclip
selenium
aiohttp
pypresence
pyinstaller
dhooks
pystyle
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
